{% extends "base.html" %}

{% block title %}{{ block.super }} -  Search Results{% endblock %}

{% block content %}
<div id="bigbox">
<h1>Search results for <span class="special">{{ query }}</span></h1>
<div class="clear"></div>
<div id="siteblock">
<ul class="dates">
{% if results %}
{% for article in results %}
<li>{{ article.pub_date|date:"n.j.y" }} <a href="{{article.get_absolute_url}}">{{ article.title}}</a> ({% if article.tags %}posted in {% load tagging_tags %}{% tags_for_object article as tag_list %}{% for tag in tag_list %}<a href="/tags/{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}{%ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}{% endif %}{% endfor %}{% else %}rated {% for rating in article.rating.all %}
<a href='/ratings/{{ rating.slug }}' title='{{ rating.dscription }}'><img src='/static/clean/images/rating/{{ rating.slug }}.png' class='rating' alt='{{ rating.description }}' /></a>{% endfor %}{% endif %})</li>
{% endfor %}
</ul>
{% else %}
<h2>No Results. Please Search again.</h2>
{% endif %}
</div>
</div>
{% endblock %}