{% extends "base.html" %}{% load typogrify %}

<title>{% block title %}{{ block.super }} -  {{ tag.name|title }} {% endblock %}</title>

{% block feeds %}
{{ block.super }}
<link href="/feeds/ratings/{{ rating.title }}/" rel="alternate" type="application/rss+xml" title="All Posts in {{ rating.description|title }}" />
{% endblock %}

{% block content %}
<h1>Rating <span class="special">{{ rating.description|title }}</a></h1>
{% include "meowr/articles.html" %}
{% include "meowr/nextlast.html" %}
{% endblock %}