{% extends "base.html" %}{% load typogrify %}

<title>{% block title %}{{ block.super }} -  {{ tag.name|title }} {% endblock %}</title>

{% block feeds %}
{{ block.super }}
<link href="/feeds/tags/{{ tag.name }}/" rel="alternate" type="application/rss+xml" title="All Posts in {{ tag.name|capfirst }}" />
{% endblock %}

{% block content %}
<h1>Tag <span class="special">{{ tag.name|title }}</a></h1>
<div id="listing">
{% include "meowr/articles.html" %}
{% include "meowr/nextlast.html" %}
</div>
{% endblock %}