{% extends "base.html" %}{% load typogrify %}


{% block title %}{{ block.super }} -  {{ object.title|smartypants|safe }} {% endblock %}

{% block content %}
<div class="wrapper">
<div class="content">
<h1><a href="{{ object.get_absolute_url }}"><span class="title_date">{{ object.pub_date|date:"g:ia" }}</span> {{ object.title|typogrify|safe }}</a></h1>
{{ object.excerpt_html|typogrify|safe }}
<a id="body"></a>{{ object.body_html|typogrify|safe }}
</div>
</div>
<div class="meta">
<dl class="posted">
<dt><a href="{{ article.url }}" title="{{ article.title}}"><span class="special">Posted</span> {{ object.pub_date|date:"F j, Y" }}</a></dt>
</dl>
{% if object.tags %}
<dl>
<dt>Tags</dt>
{% load tagging_tags %}
<dd>
{% tags_for_object object as tag_list %}{% for tag in tag_list %}<a href="/tags/{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}{%ifequal forloop.revcounter0 1 %} and {% else %}, {% endifequal %}{% endif %}{% endfor %}
</dd>
</dl>
{% endif %}
{% if object.rating.all %}
<dl>
<dt>Rating</dt>
{% load meowr %}
<dd>
{% for rating in object.rating.all %}
<a href='/ratings/{{ rating.slug }}' title='{{ rating.dscription }}'><img src='/static/clean/images/rating/{{ rating.slug }}.png' class='rating' alt='{{ rating.description }}' /></a>{% endfor %}</dd>
</dl>
{% endif %}
<dl>
<dt>Comment</dt>
<dd>
{% load threadedcommentstags %}
{% get_free_comment_count for object as comment_count %}
{% ifnotequal comment_count 0 %}<a href="#commenting">{{ comment_count }} comment{{ comment_count|pluralize }}</a>{% else %}<a href="#commenting">Post a comment!</a>{% endifnotequal %}
</dd>
</dl>
<dt>Navigate</dt>
<dd>
{% if object.get_previous_article %}
<a class="previous" href="{{ object.get_previous_article.get_absolute_url }}">rewind</a>
{% endif %} / 
{% if object.get_next_article %}
<a class="next" href="{{ object.get_next_article.get_absolute_url }}">forward</a>
{% endif %}
</dd>
</dl>
</div>
<div class="clear"></div>
<hr class="hide" />
<div id="comment-box">
<div class="comment-head">
<a id="commenting"></a><h2>Comments!</h2>
</div>
<ol id="comments">
{% get_free_threaded_comment_tree for object as tree %}
{% for comment in tree %}
<div class="comment-shape">
<li id="comment-{{ comment.id }}">
{%ifequal comment.email 'liz@latherrinserepeat.org' %}
<cite style="border-color:#999;">
{% else %}
<cite>
{% endifequal %}
<span class="author">{% if comment.website %}<a href="{{ comment.website }}">{{ comment.name }}</a>{% else %}{{ comment.name }}{% endif %}</span>
<span class="date">{{ comment.date_submitted|date:"n.j.y / ga" }}</span>
</cite>
<div class="said">
{% auto_transform_markup comment %}
</div>
<div class="clear"></div>
</li></div>
{% endfor %}
</ol>
{%ifequal object.enable_comments 1 %}
<h2>Leave a Comment!</h2>
<div id="commentness">
<p>Line and paragraph breaks automatic, e-mail addresses never displayed, and please feel free to use <a href="http://daringfireball.net/projects/markdown/">Markdown</a>.</p>
<div class="comment-form">
<form method="post" action="{% get_free_comment_url object %}">
<p><label for="id_name">Name</label> <input type="text" id="id_name" name="name" /></p>
<p><label for="id_email">Email (will not be displayed)</label> <input type="text" id="id_email" name="email" /></p>
<p><label for="id_website">Site</label> <input type="text" id="id_website" name="website" /></p>
</div>
<div class="comment-form">
<p><label for="id_comment">Say it!</label><textarea name="comment" id="id_comment" rows="10" cols="30"></textarea></p>
</div>
<div class="clear"></div>
<p class="center">
<input type="hidden" name="markup" value="1" />
<input type="submit" id="submit" value="Submit!" />
</p>
</form>
</div>
{% else %}
<h3>Comments are closed for this article.</h3>
{% endifequal %}
{% endblock %}