{% extends "base.html" %}

{% block title %}{{ block.super }} -  The Exit {% endblock %}

{% block content %}
<div id="bigbox">
<h1>The <span class="special">Exit</span></h1>
{% load meowr %}
<div id="siteblock">
<div class="clear"></div>
<div class="exits">
<ul>
{% for object in object_list %}
{% ifchanged %}{% load tagging_tags %}{% tags_for_object object as tag_list %}{% for tag in tag_list %}
<li class="exit_tag">{{ tag|title }}</li>{% endfor %}{% endifchanged %}
<li><a href="{{ object.url }}">{{ object.title }}</a></li>
{% endfor %}
<li class="exit_tag">Recent</li>
{% load typogrify %}
{% load meowr %}
{% get_meowr_bookmarks as bookmark_list %}
{% for bookmark in bookmark_list %}
<li><a href="{{ bookmark.url }}">{{ bookmark.description }}</a></li>
{% endfor %}
<li><a href="http://delicious.com/tricky/">More del.icio.us bookmarks...</a></li>
</ul>
<div class="clear"></div>
</div>
</div>
</div>
{% endblock %}