{% extends "base.html" %}

{% block title %}{{ block.super }} -  The Exit {% endblock %}

{% block content %}
<div id="bigbox">
<h1>The <span class="special">Exit</span></h1>
{% load meowr %}
<div id="siteblock">
<div class="clear"></div>
<div class="exits">
<ul>
{% for object in object_list %}
{% ifchanged %}{% load tagging_tags %}{% tags_for_object object as tag_list %}{% for tag in tag_list %}
<li class="exit_tag">{{ tag|title }}</li>{% endfor %}{% endifchanged %}
{% tags_for_object object as tag_list %}{% for tag in tag_list %}
{% ifequal object.tags '"me elsewhere"' %}
<li><a href="{{ object.url }}" rel="me" title="{{ object.title }}">{{ object.title }}</a></li>
{% else %}
<li><a href="{{ object.url }}" title="{{ object.title }}">{{ object.title }}</a></li>
{% endifequal %}
{% endfor %}
{% endfor %}
</ul>
<div class="clear"></div>
</div>
</div>
</div>
{% endblock %}