{% extends "base.html" %}

{% block title %}{{ block.super }} -  {{ section.title }} {% endblock %}

{% block feeds %}
{{ block.super }}
<link href="/feeds/sections/{{ section.slug }}/" rel="alternate" type="application/rss+xml" title="{{ section.title }} Feed" />
{% endblock %}

{% block content %}
<div id="bigbox">
<h1>Past <span class="special">{{ section.description}}</span></h1>
<div class="clear"></div>
{% load meowr %}
<div id="siteblock">
<div class="clear"></div>
{%ifequal section.kind 1 %}
<div class="tagblock">
<h2>{{ section.title}} by <a href="/tags/">Tag</a></h2>
{% load tagging_tags %}{% get_meowr_tags as tag_list %}<p>{% for tag in tag_list %}<a href="/tags/{{ tag }}/">{{ tag }}</a> {% endfor %}</p>
{% else %}
<div class="ratingblock">
<h2>{{ section.title}} by Rating</h2>
{% get_meowr_ratings as rating_list %}
<p>
{% for rating in rating_list|dictsort:"id"  %}
<a href='/ratings/{{ rating.slug }}/' title='{{ rating.description }}'><img src='/static/spectrum/images/rating/{{ rating.slug }}.gif' class='rating' alt='{{ rating.description }}' /></a> 
{% endfor %}
</p>
</div>
{% endifequal %}
</div>
<div class="cinemadateblock">
<h2>{{ section.title}} by Date</h2>
<ul class="no_change">
{% for object in object_list %}
{% ifchanged %}
<li class="month_title_small"><a href="/{{ object.pub_date|date:"Y/n" }}/">{{ object.pub_date|date:"F Y" }}</a></li>
{% endifchanged %}
<li>{{ object.pub_date|date:"d" }}: <a href="{{ object.get_absolute_url }}">{{ object.title|cut:"*Cinema -- " }}</a></li>
{% endfor %}
</ul>
</div>
<div class="cinemablock">
<h2>{{ section.title}} by Title</h2>
<ul class="dates">
{% for object in object_list|dictsort:"title" %}
<li><a href="{{ object.get_absolute_url }}">{{ object.title|cut:"*Cinema -- "|cut:"*Swag -- " }}</a></li>
{% endfor %}
</ul>
</div>
</div>
</div>
<div class="clear"></div>
<p class="older-newer">{% if has_next %}<a href="?page={{ next }}">older</a>{% endif %}  {% if has_previous or has_next %}/{% endif %} {% if has_previous %}<a href="?page={{ previous }}">newer</a>{% endif %}</p>
</div>
</div>
{% endblock %}