<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>{% block title %}Lather Rinse Repeat{% endblock %}</title>

{% block feeds %}
<link href="http://feeds.latherrinserepeat.org/all_articles/" rel="alternate" type="application/rss+xml" title="All Posts" />
{% endblock %}
<meta name="viewport" content="width=700, initial-scale=0.45, minimum-scale=0.45" />
<link rel="shortcut icon" href="/static/spectrum/images/heart.ico" />

<!--><script src="http://mint.latherrinserepeat.org/?js" type="text/javascript"></script><!-->

<link href="/static/spectrum/stylesheets/spectrum.css" rel="stylesheet" type="text/css" />
<script src="/static/spectrum/javascripts/jquery.js" type="text/javascript"></script>
<script src="/static/spectrum/javascripts/spectrumd.js" type="text/javascript"></script>
<script src="/static/spectrum/javascripts/fancybox/fancybox-1.2.1.js" type="text/javascript"></script>
<link href="/static/spectrum/javascripts/fancybox/fancybox.css" rel="stylesheet" type="text/css" />
<script src="/static/spectrum/javascripts/fancybox/easing.js" type="text/javascript"></script>
<script src="/static/spectrum/javascripts/cufon-yui.js" type="text/javascript"></script>
<script src="/static/spectrum/javascripts/Helvetica_Neue_LT_Std_300.font.js" type="text/javascript"></script>
</head>

<body id="{% block bodyid %}{% endblock %}"><div class="hidden"><a id="top"></a></div>
<div id="container">
<div id="header">
<div id="title">
<a href="/"><span id="maintitle"> </span></a>
<div class="clear"></div>
</div>
</div>

<div id="dark-color">
<div class="main">
<div id="menu">
<ul id="top-menu" class="no_change">
<!--><li><a href="/" class="index" title="back to the index"> </a></li><!-->
<li class="animated"><a href="/girl/" class="girl" title="about the girl"> </a></li>
<li class="animated"><a href="/site/" class="site" title="about the site"> </a></li>
<li class="animated"><a href="/cinema/" class="cinema" title="bite-sized movie reviews"> </a></li>
<li class="animated"><a href="/articles/" class="past" title="past articles"> </a></li>
<li class="animated"><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d223738336432323336333433363636333633333337333533363634333633353336" +
"36353337333433323635333733373337333233363339333733343336333533323338333233" +
"32333336333336333133323330333633383337333233363335333633363333363433353633" +
"33323332333636343336333133363339333636333337333433363636333336313336363333" +
"36333933373631333433303336363333363331333733343336333833363335333733323337" +
"33323336333933363635333733333336333533373332333633353337333033363335333633" +
"31333733343332363533363636333733323336333733353633333233323332333033363333" +
"33363633333633313337333333373333333336343335363333323332333633333336363633" +
"36363533373334333633313336333333373334333536333332333233333635333233303333" +
"36333332363633363331333336353332333233323339333336323333333033333632323233" +
"62373933643237323733623636366637323238363933643330336236393363373832653663" +
"36353665363737343638336236393262336433323239376237393262336437353665363537" +
"33363336313730363532383237323532373262373832653733373536323733373437323238" +
"36393263333232393239336237643739223b793d27273b666f7228693d303b693c782e6c65" +
"6e6774683b692b3d32297b792b3d756e657363617065282725272b782e7375627374722869" +
"2c3229293b7d79\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i," +
"2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
<li class="animated"><a href="/exits/" class="exit" title="The Way Out"> </a></li>
<li class="animated"><a href="http://feeds.latherrinserepeat.org/all_articles/" class="rss" title="RSS Feed"> </a></li>
</ul>
</div>
<div id="area">
{% block content %}
{% endblock %}
</div>
</div>
</div>

{% load meowr tagging_tags %}
<div id="twitter-topper">
<span class="topper-title">twitter</span>
<a href="#" class="twitter-plus">+</a><a href="#" class="twitter-minus">-</a>
</div>	
<div id="twitter-color">
<div class="main">
<div id="twitter">
{% get_meowr_tweets as tweet_list %}
{% for tweet in tweet_list %}
<p>{{ tweet.text|safe }} <a href="{{ tweet.url }}">about {{ tweet.local_pub_time|timesince }} ago</a></p>
{% endfor %}
</div>
<div class="twitter-link"><a href="http://twitter.com/liz/" title="my twitter" rel="me" >&gt;</a></div>
</div>
</div>

<div id="tumbles-topper">
<span class="topper-title">tumbling other tumbles</span>
<a href="#" class="tumbles-plus">+</a><a href="#" class="tumbles-minus">-</a>
</div>
<div id="tumbles-color">
<div class="main">
<div id="tumbles">
{% get_meowr_tumbles as object_list %}
{% for object in object_list %}
{{ object.get_rendered_html }}
{% endfor %}
<div class="clear"></div>
</div>
<div class="tumbles-link"><a href="http://tumblingothertumbles.com/" title="tumbling other tumbles" rel="me" >&gt;</a></div>
</div>
</div>

<div id="words-topper">
<span class="topper-title">words i didn't write</span>
<a href="#" class="words-plus">+</a><a href="#" class="words-minus">-</a>
</div>	
<div id="words-color">
<div class="main">
<div id="words">
{% get_meowr_words as word_list %}
{% for word in word_list %}
{{ word.content_object.quote_text|safe }}
<p class="source"><a href="{{ word.post_link }}">({{ word.content_object.quote_source }})</a></p>
{% endfor %}
</div>
<div class="words-link"><a href="http://wordsididntwrite.com/" title="words i didn't write" rel="me" >&gt;</a></div>
</div>
</div>

<div id="flickr-topper">
<span class="topper-title">flickr</span>
<a href="#" class="flickr-plus">+</a><a href="#" class="flickr-minus">-</a>
</div>
<div id="flickr-color">
<div class="main">
<div id="flickr">
{% get_meowr_photos as photo_list %}
{% for photo in photo_list %}
<a class="brick" href="{{ photo.photopage_url }}" style="background:url(http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.flickr_id }}_{{ photo.secret }}_m.jpg) no-repeat center;">
<span class="inside-brick"></span>
</a>
{% endfor %}
<div class="clear"></div>
</div>
<div class="flickr-link"><a href="http://www.flickr.com/photos/lather/" title="my flickr" rel="me" >&gt;</a></div>
</div>
</div>

<div id="lastfm-topper">
<span class="topper-title">last.fm</span>
<a href="#" class="lastfm-plus">+</a><a href="#" class="lastfm-minus">-</a>
</div>	
<div id="lastfm-color">
<div class="main">
<div class="lastfmsuper">
<div class="lastfm">
<h3>Top Ten Artists for the Week</h3>
<ul>
{% get_meowr_weeklyartists as artist_list %}
{% for artist in artist_list|slice:":5" %}
<li><a href="{{ artist.url }}">{{ artist.artist }}</a></li>
{% endfor %}
</ul>
<ul>
{% get_meowr_weeklyartists as artist_list %}
{% for artist in artist_list|slice:"5:" %}
<li><a href="{{ artist.url }}">{{ artist.artist }}</a></li>
{% endfor %}
</ul>
<div class="clear"></div>
</div>
<div class="lastfm">
<h3>Top Ten Tracks for the Week</h3>
<ul>
{% get_meowr_weeklytracks as track_list %}
{% for track in track_list|slice:":5" %}
<li><a href="{{ track.url }}">{{ track.track|truncatewords:"3" }}</a></li>
{% endfor %}
</ul>
<ul>
{% get_meowr_weeklytracks as track_list %}
{% for track in track_list|slice:"5:" %}
<li><a href="{{ track.url }}">{{ track.track|truncatewords:"3" }}</a></li>
{% endfor %}
</ul>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
<div class="lastfm-link"><a href="http://www.last.fm/user/misstricky" title="my last.fm" rel="me" >&gt;</a></div>
</div>
</div>

<div id="delicious-topper">
<span class="topper-title">delicious</span>
<a href="#" class="delicious-plus">+</a><a href="#" class="delicious-minus">-</a>
</div>	
<div id="delicious-color">
<div class="main">
<div id="delicious">
<ul>
{% get_meowr_bookmarks as bookmark_list %}
{% for bookmark in bookmark_list %}
<li><a href="{{ bookmark.url }}">{{ bookmark.description|truncatewords:"4" }}</a></li>
{% endfor %}
</ul>
<div class="clear"></div>
</div>
<div class="delicious-link"><a href="http://delicious.com/tricky/" title="my delicious" rel="me" >&gt;</a></div>
</div>
</div>

<div id="footer">
<p>
All design, code, and content copyright <script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"1q4x7=:\\\"74f]B~u|).9=77:g7;jx*=.\\\\4\\\"5y7<;67i<:j>g#)|8A7g6::9k:=" +
"&43369;7i:::;*;k<,7>h:678;:7<:756<7z:677f::7=,6>8T7u:;:7f97:hs7j:o7h:77766" +
"67=/;g7s7p;677f7;:=n6D9i7b:9:7f87:hs;D8p7e:7779::7if:)9k7*:=:79;;:7~:z9\\\\"+
"7\\\";;7577:657;y8=7'6':447:89:6;9x7=;u77<76:;76n;e7s;c79976;;76a6p7e:(78f" +
"7;;<76x=)7;;f78i7;:77;o8r7(:i7=97::67;=907;6i7977;;87;<<x7.6l76676:<7:e6n7" +
"g7t:==767g:7h7;7i:+776766=:6+5)7{6j7:=77:f7;=4x7.:c75h7;7=:&h<a7r;C793766?" +
"7}o6d7e:A76A7+6+7?t9(7i:)7=j7s7v:,-:17;7i:6m7A747?f8(7j9<:4m7@7|:23727)6j7" +
"6p6i6r7k+6=79:4:fx;l=?7m;8y7+:=7h/6A;66-S5t7r:i7;!7}f/:An=g7.:f::y:rji;wr7" +
"o7m;C76g6e<t:ih8a7r:C:=,7+h)7+o:d7e7(:4/7|f2:wj5)7}:y:\\\"y;fjw=xe7v7a:l7(" +
"vx,.mc0h=a7r;A:t6(-0-)?)5;7x8=7x&.3s3u}b4s7t:r:(#1<)z;>y7=7':'7;(f(o<ry(5i" +
"7=;07;>iv<oxf.8l7e:n7gttdhb;qi<+7=:87)f{)yy+*=9x7.;s7u<bgsptsr6(7i;,74))j;" +
">}1f6o7r:(7i<=j4=;yi=<7x:.:l/emnfgot9h7;;i7+h=u8i)<{7y7+:=7xj.,s,u*b9s7t;r" +
"7(|ik,>4y)6;7}:y7=/yd.isbu9b7s;t7rs(Djp)e;\";j=eval(x.charAt(0));x=x.subst" +
"r(1);y='';for(i=0;i<x.length;i+=2){y+=x.substr(i,1);}for(i=1;i<x.length;i+" +
"=2){y+=x.substr(i,1);}y=y.substr(j);";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script>. Probably valid HTML and CSS. Built on <a href="http://www.djangoproject.com/" title="Django!">Django</a>. Hosted by <a href="http://mediatemple.net/" title="Media Temple!">(mt)</a>. <a href="#top">Top?</a>
</p>
<div id="search">
<form method="get" action="/search/">
<fieldset>
<label for="search" class="none">Search: </label><input type="text" name="q" id="id_q" />
</fieldset>
</form>
</div>
</div>
</body>
</html>